#image{
    display: block;
    width: 10rem;
    height: 10rem;
}
#list_group{
    display: inline;
    align-items: center;
    justify-content: space-around;
}
td{
    /* display: block; */
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 1.5rem;
    padding:0 1rem !important;
   
   
}
#btn{
    display: block;
    font-size: 2rem;
    background-color:white;
    border: 0;
    /* margin: 0 1.5rem; */
}
#empty{
    display: block;
    font-size: 3rem;
    text-align: center;
    margin-top: 15rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: green;
}
#shop{
    font-size: 2rem !important;
    /* margin: 1rem 2rem 0 0; */
    background-color: blue;
    color: white;
    padding: 0.5rem;
}